:root {
  --pryColor: #d3d3d3;
  --secColor: #272a31;
  --tetColor: #ec5242;
  --facts_bg: #4d4e50;
  --font-family: 'lato', sans-serif;
  --paragraph: 14px;
  --h2: 25px;
  --h3: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--pryColor);
  margin: 0;
}

#header {
  width: 100%;
  height: auto;
  background-image: url(../assets/Background_img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_content {
  padding: 30px;
}

a {
  color: var(--secColor);
}

.hello_text {
  color: var(--tetColor);
  font-size: 25px;
  margin: 35px 0 0;
  font-family: var(--font-family);
}

h1 {
  color: var(--tetColor);
  margin-top: 5px;
  margin-bottom: 35px;
  font-family: var(--font-family);

  /* font-weight: bold; */
  font-size: 35px;
}

.brief {
  border: 0.5px solid white;
  background-color: var(--pryColor);
  padding: 15px;
  color: var(--secColorr);
  margin: 15px;
  font-size: var(--paragraph);
  font-family: var(--font-family);
}

.date {
  color: var(--secColor);
  font-size: 30px;
  margin: 20px 0 5px;
  font-family: var(--font-family);
}

.location {
  margin-top: 0;
  color: var(--secColor);
  font-size: var(--paragraph);
  padding-bottom: 20px;
  margin-bottom: 0;
  font-family: var(--font-family);
}

/* Some science facts */
.sci_facts {
  height: auto;
  background-color: var(--secColor);
  width: 100%;
}

.h2_sci_facts {
  color: var(--pryColor);
  font-family: var(--font-family);
  font-size: var(--h2);

  /* font-weight: bold; */
}

.line {
  height: 2px;
  width: 80px;
  background-color: var(--tetColor);
  border-radius: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}

.each_fact {
  width: 90%;
  border: 0.5px solid white;
  background-color: var(--facts_bg);
  padding: 0 2.5% 0 2.5%;
  gap: 5%;
  display: grid;
  grid-template-columns: 15% 30% 45%;
  grid-template-rows: auto;
}

.fact_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact_img img {
  height: 40px;
  width: 32px;
}

.fact_title {
  color: var(--tetColor);
  font-family: var(--font-family);
  font-size: var(--h3);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact_text {
  color: var(--pryColor);
  font-family: var(--font-family);
  font-size: var(--paragraph);
}

.more_sci_facts {
  /* margin: 40px; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.more_sci {
  color: var(--pryColor);
  background-color: var(--tetColor);
  border: none;
  padding: 20px 40px;
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--paragraph);
}

/* Featured scientist */
.featured_scientist {
  background-color: white;
}

.featured_scientist .title h2 {
  color: var(--secColor);
}

/* partners */
#partners {
  background-color: var(--facts_bg);
}

.companies {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 30px 0;
}

.companies img {
  width: 100px;
  height: auto;
}

/* footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

#footer_logo {
  width: 100px;
  height: 50px;
  background-image: url('../assets/SciFactsLogo/Grey_SciFactsLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

footer p {
  font-family: var(--font-family);
  font-size: var(--paragraph);
}

/* mobile menu */
nav i,
#menu i {
  font-size: var(--h2);
}

#menu i {
  padding-top: 10%;
}

#menu_icon a {
  font-size: 30px;
}

#menu a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  height: 20%;
}

#menu {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: var(--pryColor);
}

.menu_list {
  text-decoration: none;
  color: var(--secColor);
}

.home_color {
  color: var(--tetColor);
}

#menu_liststyle {
  list-style: none;
  font-family: var(--font-family);
  font-size: var(--h2);
  line-height: 80px;
  margin: 0;
  padding: 0;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mobile display none */

#topbar,
#navbar,
#desk_more_sci_facts {
  display: none;
}

/* Featured scientist */
.allScientist {
  width: 90%;
  padding: 0;
  margin: 35px 5%;
  list-style: none;
}

.eachScientist {
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  margin-bottom: 30px;
}

.scientistImg img {
  width: 100%;
  height: 150px;
}

.scientistInfo .scientistName {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: var(--h3);
  font-family: var(--font-family);
  color: var(--secColor);
}

.scientistTitle {
  margin: 12px 0;
  font-size: var(--paragraph);
  font-family: var(--font-family);
  color: var(--tetColor);
}

.separator {
  margin-top: 0;
  margin-bottom: 10px;
  border: 1px solid var(--pryColor);
  background-color: var(--pryColor);
  width: 10%;
}

.scientistDesc {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: var(--paragraph);
  font-family: var(--font-family);
  color: var(--secColor);
}

#space {
  height: 5px;
}

/* Desktop version  */

@media screen and (min-width: 768px) {
  #menu_icon,
  .more_sci_facts {
    display: none;
  }

  /* topbar */

  #topbar {
    width: 100%;
    background-color: var(--secColor);
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 5%;
  }

  #topbar p {
    color: var(--pryColor);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: bolder;
  }

  .icons {
    margin-top: 12px;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .icons li a {
    color: var(--pryColor);
    text-decoration: none;
  }

  /* navbar */
  #navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  #navbar a {
    margin-left: 5%;
    height: 100%;
  }

  #navbar_logo {
    width: 100px;
    height: 50px;
    background-image: url('../assets/SciFactsLogo/White_SciFactsLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #nav_liststyle {
    list-style: none;
    font-family: var(--font-family);
    font-size: var(--paragraph);
    display: flex;
    gap: 30px;
    padding-top: 5px;
    margin-right: 5%;
  }

  #large_screen {
    width: 70%;
    margin-left: 5%;
  }

  .hero_content {
    padding: 30px 30px 30px 0;
  }

  .hello_text {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
  }

  .brief {
    font-size: 15px;
  }

  /* facts */

  #desk_facts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .facts {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    height: 200px;
  }

  .each_fact {
    border: 0.5px solid white;
    background-color: var(--facts_bg);
    height: 210px;
    width: 15%;
    gap: 10px;
    display: grid;
    grid-template-rows: 15% 30% 45%;
    grid-template-columns: 100%;
    padding: 2.5% 0;
  }

  .fact_title {
    margin-top: 10%;
  }

  .fact_text {
    margin-top: 0;
    text-align: center;
    padding: 0 5%;
  }

  #desk_more_sci_facts {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #click {
    color: var(--pryColor);
    text-decoration: underline;
    font-family: var(--font-family);
    font-size: var(--h2);
  }

  /* Featured scientist */

  #desk_scientist {
    width: 100%;
    height: 100%;
    background-color: white;
  }

  #scientist {
    width: 90%;

    /* margin: 0px 5%; */
  }

  /* .fit {
        box-sizing: border-box;
    } */
  .allScientist {
    width: 100%;
    padding: 0;

    /* margin: 20px 5%; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .eachScientist {
    width: 48%;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
  }
}
